* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
}

body {
  min-width: 960px;
}

header {
  width: 100%;
  height: 80px;
  background-color: #333;
  color: #fff;
}

.header-main {
  width: 960px;
  margin: 0 auto;
  overflow: auto;
}

.logo {
  height: 80px;
  float: left;
  padding-top: 20px;
}

.header-main nav {
  padding-top: 10px;
  float: right;
}

.header-main ul li {
  float: left;
  list-style-type: none;
}

.header-main ul li:not(:last-of-type) {
  margin-right: 10px;
}

.header-main ul li a {
  color: #fff;
}

.banner {
  height: 300px;
  background-color: #66bb33;
  position: relative;
  margin-bottom: 70px;
}

.img-num {
  position: absolute;
  bottom: 10px;
  right: calc((100% - 960px) / 2);
  display: flex;
  align-items: flex-end;
}

.banner li {
  list-style-type: none;
  height: 32px;
  width: 32px;
  line-height: 32px;
  text-align: center;
  border: 1px solid #333;
  background-color: #b2dd99;
}

.banner li:not(:last-of-type) {
  margin-right: 5px;
}

li.banner-active {
  height: 50px;
  line-height: 70px;
  background-color: #e0f1d6;
}

.container {
  border-top: 1px solid #ccc;
}

.panels {
  width: 960px;
  margin: 0 auto;
  margin-top: -50px;
}

.panels ul {
  overflow: auto;
  padding-left: 0;
}

.panels ul li {
  float: left;
  list-style-type: none;
  width: 105px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: #eee;
  border: 1px solid #ddd;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.panels li.panel-active {
  background-color: #fff;
  border-bottom: 0;
}

.panel {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-flow: wrap;
}

.item {
  font-size: 14px;
  padding: 80px;
  border: 1px solid #ccc;
  flex: auto;
  margin-right: 10px;
  margin-bottom: 10px;
  text-align: center;
}

footer {
  height: 120px;
  padding-top: 20px;
  text-align: center;
  color: #fff;
  background-color: #666;
}
