h1 {
  color: #fff;
  font-size: 32px;
  background-image: linear-gradient(to bottom, #333, #666);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

p {
  background-color: #333;
  line-height: 24px;
  color: orange;
  text-shadow: 1px 1px 2px orange;
  text-indent: 2px;
}

dt {
  font-weight: bold;
  text-decoration: underline;
}

[data-time] {
  color: green;
  font-style: italic;
}

[data-time="time"] {
  color: red;
  font-family: "Times New Roman";
}

[data-center] {
  text-align: center;
  background: linear-gradient(
    90deg,
    rgb(255, 0, 0),
    rgb(255, 0, 0) 50%,
    rgb(0, 0, 0) 50%
  );
}

.project {
  border: 1px solid #333;
}

li {
  list-style-type: circle;
}

a:link {
  color: #fff;
  background: #29B6F6;
}

a:visited {
  color: #437a16;
}

a:hover {
  background: #333;
  color: #fff;
}

a:active {
  background: #265301;
  color: #cdfeaa;
}

.info:after {
  content: ":"
}
